
	#qr-canvas{
		display:none;
	}

	#outdiv{
		width:100%;
		height:100%;
	}

	#v{
		width:100%;
		height:100%;
	}

	@media screen and (max-width: 480px){
		
		#outdiv{
			width:100%;
		height:100%;
		}
		
	    #v{
			width:100%;
		height:100%;
		}
		
		@media screen and (max-device-width: 480px) 
	              and (orientation:portrait){
	  
			#outdiv{
				width:100%;
		height:100%;

			}
			
		    #v{
				width:100%;
		height:100%;
			}
		
		}

	}
